<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
        <div>
            {{> header }}
        </div>

        <div>
            {{> section }}
        </div>

        <div>
            {{> card }}
        </div>

        <div>
            {{> footer }}
        </div>

        <main class="main">
            {{> body }}
        </main>
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=15d1ad84-fd13-4a33-95dd-5c45738bea70&lang=ru_RU" text="text/javascript"></script>
    <script src="assets/js/map.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/event.js"></script>
    <script src="assets/js/slaider.js" defer></script>
    <script src="assets/js/scroll.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/mod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easy-toggler@2.2.7"></script>
</body>
</html>
