<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head_eff }}
</head>
<body>

    <div class="page_eff">
        <div>
            {{> header_eff }}
        </div>
        <div>
            {{> section_eff }}
        </div>
    </div>
    <script>
        const cards = document.querySelectorAll('.card')

        for (let i = 0; i < cards.length; i++) {
            const card = cards[i];
            card.addEventListener('mousemove', Startrotate);
            card.addEventListener('mouseout', Stoprotate);
            
        }
        
        function Startrotate(event) {
            const cardItem =  this.querySelector('.card-item');
            const halfheight = cardItem.offsetHeight / 2;
            const halfwidth = cardItem.offsetWidth / 2;
            cardItem.style.transform = 'rotateX('+ -(event.offsetY - halfheight) / 10 +'deg) rotateY('+ (event.offsetX - halfwidth ) / 10 +'deg)'
        }
        
        function Stoprotate(event) {
            const cardItem =  this.querySelector('.card-item');
            cardItem.style.transform = 'rotate(0)'
        }
    </script>
    <script> 
    function parallax(event) {
    this.querySelectorAll('.layer').forEach(layer => {
            layer.style.transform = `translateX(${event.clientX/50}px)`
        });
    }
    
    document.addEventListener('mousemove', parallax);
    </script>
</body>
</html>