<div class="div" id="div">
    <a href="#" data-aos="fade-right" class="logo">МК</a>
    <nav class="nav">
        <ul class="menu">
            <li><a href="index.html" class="slid">Главная</a></li>
            <li><a href="zeffects.html" class="slid">Эфекты</a></li>
            <li><a href="#" class="slid">Нестардартное</a></li>
        </ul>
        <label style="margin-right: 25px;">
            <input type="checkbox" id="switchMode">
            <span class="chek"></span>
        </label>
    </nav>
</div> 