<section class="section">
    <div class="section_effect">
        <h2 class="hover">Hover эфекты и анимация</h2>
    </div>

    <div class="div_hover">
        <div class="hover_aim">
            <img src="assets/images/haus.png" alt="yacht" class="yacht">
            <p class="text_hover">Hover эфект с кантрастом</p>
        </div>
    </div>
    <div class="tild_aim">
        <div class="card">
            <div class="card-item">
                <img src="assets/images/yacht.png" alt="yacht">
            </div>
        </div>
    </div>

    <div class="aim">
        <div class="card_eff">
            <div class="card__item disp">
                <img src="assets/images/home.png" alt="yacht" class="card__img">
                <span class="card__title">ABC</span>
            </div>
        </div>      
    </div>
</section>