<section class="section">
    <div class="section_effect">
        <h2 class="hover">Hover эфекты и анимация</h2>
    </div>
    <div class="tild_aim">
        <div class="card">
            <div class="card-item">
                <img src="assets/images/yacht.png" alt="yacht">
            </div>
        </div>
        <p>3D-tilt анимация, направленная на искожение картинки</p>
    </div>
    <div class="hover_aim">
        <p>3D-tilt анимация, направленная на искожение картинки</p>
        <div class="card">
            <div class="card-item">
                <img src="assets/images/haus.png" alt="yacht">
            </div>
        </div>
    </div>

    <div class="aim">
        <div class="card">
            <div class="card-item">
                <img src="assets/images/home.png" alt="yacht">
            </div>
        </div>
        <p>3D-tilt анимация, направленная на искожение картинки</p>        
    </div>
</section>