<section class="section">
    <div class="section_effect">
        <h2 class="hover">Hover эфекты и анимация</h2>
    </div>
    <div class="tild_aim">
        <div class="card">
            <div class="card-item">
                <img src="assets/images/yacht.png" alt="yacht">
            </div>
        </div>
        <p class="tilt-3D"><span style="color: rgb(218, 218, 1);">3D-tilt </span>анимация</p>
    </div>

    <div class="div_hover_b">
        <div class="hover_aim">
            <img src="assets/images/haus.png" alt="yacht" class="yacht_b">
            <p class="text_hover">Hover эфект</p>
        </div>
    </div>

    <div class="div_hover">
        <div class="hover_aim">
            <img src="assets/images/haus.png" alt="yacht" class="yacht">
            <p class="text_hover">Hover эфект с кантрастом</p>
        </div>
    </div>

    <div class="aim">
        <div class="card">
            <div class="card-item">
                <img src="assets/images/home.png" alt="yacht">
            </div>
        </div>
        <p>3D-tilt анимация, направленная на искожение картинки</p>        
    </div>
</section>