<div class="contair">
    <section class="gallery">
        <div class="frame"></div>

        <div class="frame">
            <div class="frame__content">
                <h2 style="font-family: 'Readex Pro', sans-serif;">Space</h2>
            </div>
        </div>

        <div class="frame">
            <div class="frame__content">
                <div class="frame-medium frame-medium_left" style="background: url(assets/images/summer.png);"></div>
            </div>
        </div>

        <div class="frame frame_bg">
            <div class="frame__content">
                <div class="frame-medium2 frame-medium_right" style="background: url(assets/images/pirramid.png);"></div>
            </div>
        </div>

        <div class="frame"></div>
        <div class="frame"></div>

        <div class="frame frame_bg">
            <div class="frame__content">
                <div class="frame-medium frame-medium_left" style="background: url(assets/images/astr.png);"></div>
            </div>
        </div>

        <div class="frame"></div>
        
        <div class="frame frame_bg">
            <div class="frame__content">
                <div class="frame-medium2 frame-medium_right" style="background: url(assets/images/black.png);"></div>
            </div>
        </div>
        

    </section>
</div>