.section_map {
    background: #515151;
}
.container {
}
.section-map__title {
    margin-left: 35px;
    margin-bottom: 100px;
    padding-top: 88px;
}
.title-2 {
    margin-left: 160px;
}

.section-map__map {
    display: flex;
}

.map {
    margin-left: 200px;
    margin-right: 50px;
    padding-bottom: 100px;
    height: 500px;
    width: 500px;
}

.map_infa {
}