.section {
    background: #515151;
    padding: 0;
    margin: 0;
    width: 100%;
}
.span_js {
    color: yellow;
}
.scroll {
    padding-top: 110px;
    margin-left: 120px;
    margin-bottom: 120px;
}

.head_sec {
    font-size: 3rem;
    margin-bottom: 15px;
}

